.skyblue {
    background-color: skyblue;
    width: 150px;
    height: 150px;
}

.greenyellow {
    background-color: greenyellow;
    width: 150px;
    height: 150px;
}

.white {
    background-color: white;
    width: 150px;
    height: 150px;
}

.lightsalmon {
    background-color: lightsalmon;
    width: 150px;
    height: 150px;
}

.cornsilk {
    background-color: cornsilk;
    width: 150px;
    height: 150px;
}

.sandybrown {
    background-color: sandybrown;
    width: 150px;
    height: 150px;
}

.silver {
    background-color: silver;
    width: 150px;
    height: 150px;
}

.goldenrod {
    background-color: goldenrod;
    width: 150px;
    height: 150px;
}

.gray {
    background-color: gray;
    width: 150px;
    height: 150px;
}

.lightyellow {
    background-color: lightyellow;
    width: 150px;
    height: 150px;
}

.plum {
    background-color: plum;
    width: 150px;
    height: 150px;
}

.aliceblue {
    background-color: aliceblue;
    width: 150px;
    height: 150px;
}

.pink {
    background-color: pink;
    width: 150px;
    height: 150px;
}

.coral {
    background-color: coral;
    width: 150px;
    height: 150px;
}

.lightblue {
    background-color: lightblue;
    width: 150px;
    height: 150px;
}

.beige {
    background-color: beige;
    width: 150px;
    height: 150px;
}
